/* You can add global styles to this file, and also import other style files */
@import 'app/variables';

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.extract_button{
    background-color: var(--button);
    color:var(--upload_area_background);
    padding: 0 25px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
