
:root{
    --body_color: #e9f3fe;
    --upload_area_background: #FFFFFF;
    --dashed_border: #e5ebf2;
    --uploader_color: #98c8ff;
    --progressbar_background: #f7fafd;
    --button: #000000;
    --support_text: #e7ecf2
}